<div class="m-2 p-2">
  <h1>Editing todo item</h1>

  <%= turbo_frame_tag dom_id(@todo_item) do %>
    <%= render "form", todo_item: @todo_item %>
  <% end %>
  <br>

  <div>
    <%= link_to "Back to todo items", my_todo_items_path(id: @todo_item.todo_id), class:"btn btn-primary m-1" %>
  </div>
</div>