<div class="mx-auto mt-4">
  <div class="mb-6">
    <h1 class="font-bold">Todo</h1>
  </div>

  <%= render "form", todo: Todo.new %>

  <%= turbo_stream_from "todos" %>
  <div id="todos" class="m-2">
    <%= render @todos %>
  </div>
</div>
