<div class="m-2 p-2">
  <%= render @todo %>
  <div>
    <%= link_to "Edit this todo", edit_todo_path(@todo), class:"btn btn-warning m-1" %> |
    <%= link_to "Back to todos", my_todos_path, class:"btn btn-primary m-1" %>

    <%= button_to "Destroy this todo", @todo, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class:"btn btn-danger m-1" %>
  </div>
</div>