<%= turbo_frame_tag "bar" do %>
    <div class="progress m-4" id="bar">
        <div class="progress-bar" role="progressbar" style="width: <%= (x * 100) / y %>%" aria-valuenow="<%= (x * 100) / y %>" aria-valuemin="0" aria-valuemax="100"></div> 
    </div>
<% end %>